* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
}
    
nav {
    margin-bottom: 1rem;
}

.nav-logo {
    
    padding-left: 6rem;
    position: relative;
    margin-top: 1.5rem;
    vertical-align: top;
    display: inline-block
   
}

.nav {
    font-size: 20px;
    padding: 0.8rem;    
    list-style: none;
    vertical-align: top;
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;

 }

 .right-nav {
    float: right;

 }

.tuitt-button {
    background-color: #c2195b;
    color: white;
    border-radius: 32px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 8rem;
    width: 8rem;
    height: 3rem;
    margin-top: -2rem;
    
}

#bg-image {
    min-height: 60vh;
    min-width: 90vw;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.front-bg {
    color: white;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 60vh;
    min-width: 90vw;
    
}


.title {
    font-size: 3rem;
    margin-left: 35rem;
    margin-right: 10rem;
    font-family: "zilla slab";
}

.subtitle {
    margin-top: 2rem;
    font-size: 20px;
    font-weight: normal;
    margin-left: 50rem;
    margin-right: 10rem;

}

.apply-button {
    background-color: #c2195b;
    color: white;
    border-radius: 32px;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    margin-right: 10rem;
}

.intro {
    margin: 4rem;
}

.title-2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
    text-align: center;
    font-family: "zilla slab";
}
.pre-footer {
    background-color: #f7fbfb;
    
    text-align: center;

}

.intro-description {
    text-align: justify;
    margin-left: 14rem;
    margin-right: 14rem;
    margin-bottom: 6rem
}

.prefooter-description {
    text-align: center;
    margin-left: 17rem;
    margin-right: 17rem;
    
    
}

.book-button {

    background-color: #336589;
    color: white;
    border-radius: 32px;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    border: none;
    margin-top: 2rem;
    

}

footer {
    padding: 0.7rem;
    text-align: center;
}

footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem ;
}


